body {
    background-color: #88c1d0;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid gray
}

tr,
th,
td {
    padding: 20px;
    border-collapse: collapse;
    border: 5px solid #2a0f5c;
    background-color: #275fa0;
    font-size: 25px;
    color: #D0DBEC;

}

caption {
    font-size: 80px;
    background-color: #88c1d0;
    color: #14085c
}

div {
    float: left;
    padding-left: 9ch;
    font-size: 50px;
}

img {
    float: right;
}